:root {
    --darkGrey-color: #26242B;
    --maroon-color: #482325;
    --redTan-color: #D6BBA6;
    --yellowTan-color: #E1DAC8;
    --lighGrey-color: #EEEEEE;

    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'DM Serif Text', serif;*/
}

body{
    background: var(--yellowTan-color);
}

.main-article{
    width: 80%;
    margin: 10% 10%;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

/*--------- NAVBAR(S)---------*/
.main-nav a, .footer-nav a{
    padding: 10px;

    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: var(--maroon-color);
    text-rendering: optimizeLegibility;
    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}
.main-nav, .footer-nav{
    display:-webkit-flex;
    display:flex;
    justify-content:flex-end;
    list-style: none;

    width: 90%;
    margin: 5% 5%;
    padding: 0;
}
.left {
    margin-right:auto;
}

nav.footer-nav{
    width: 90%;
    margin: 5% 5%;

    display: flex;
    justify-content: space-between;
}
nav.footer-nav ul{
    list-style: none;
    padding: 0;
}
nav.footer-nav ul li{
    display: inline-block;
}


/*---------INTRO SECTION---------*/
#real-fancy-header{
    width: 85%;
    margin: 0 0;

    font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    color: var(--maroon-color);
    text-rendering: optimizeLegibility;
    font-family: 'DM Serif Text', serif;
}
#this-paragraph {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0px;

    width: 75%;
    margin: 5% 0 10% 28%;

    color: var(--maroon-color);
    letter-spacing: .10px;
    text-rendering: optimizeLegibility;
    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}

/*---------SECTION(S) HEADERS---------*/

#job-experience-header, #education-header{
    width: 85%;
    margin: 0;

    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

    color: var(--maroon-color);
    font-family: 'DM Serif Text', serif;
}
#military-header{
    width: 85%;
    margin: 0;

    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

    color: var(--maroon-color);
    font-family: 'DM Serif Text', serif;
}

/*---------SECTION(S)---------*/
.experiences, .education{
    width: 55%;
    margin: 5% 0 10% 10%;

    color: var(--maroon-color);
    line-height: 20px;
    letter-spacing: .15px;
    font-family: 'Lato', sans-serif;

    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}

/*---------PROJECT CARDS---------*/
#projects-section h2{
    width: 85%;
    margin: 5% 0 10% 5%;

    color: var(--maroon-color);
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}
#project-cards{
    column-count: 3;
    column-gap: 1em;
    width: 90%;
    margin: 5% 0 10% 10%;
}

.card-title{
    font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    text-rendering: optimizeLegibility;
    font-weight: bold;
    padding: 10px 0;
    color: var(--maroon-color);
}

.card-body{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.card-img {
    width: 100%;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
}
.card-img:hover .img-content-hover {
     display: block;
 }

.card-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card-img img:hover {
     transform: scale(1.05);
 }




/*---------CODEPEN CARDS---------*/
#codepen-section h2{
    width: 85%;
    margin: 5% 0 10% 5%;

    color: var(--maroon-color);
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
}
#codepen-cards{
    column-count: 3;
    column-gap: 1em;

    width: 90%;
    margin: 5% 0 10% 10%;
}

/*---------------------------------------------------------*/
/*------when the browser window is 600px wide or less------*/
/*---------------------------------------------------------*/
@media only screen and (max-width: 768px)  {

    #this-paragraph {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;

        width: 75%;
        margin: 5% 0 10% 28%;
    }

    .experiences, .education {
        width: 75%;
        margin: 5% 0 10% 10%;
    }

    #project-cards{
        column-count: 1;
        column-gap: 1em;
        width: 90%;
        margin: 5% 0 10% 10%;
    }
    #codepen-cards{
        column-count: 1;
        column-gap: 1em;
        width: 90%;
        margin: 5% 0 10% 10%;
    }
}