.main-article{
    margin: 100px  200px;
}


/*---------NAVBAR---------*/
.navbar a{
    text-decoration: none;
    padding: 0 20px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    list-style: none;

    padding: 20px 50px;
}


/*---------INTRO SECTION---------*/
#real-fancy-header{
    padding: 0 50px;
    font-size: 4em;
    margin: 0 600px  20px 0 ;
}

#graphic-icon{
    padding: 50px;
    height: 50px;
    width: auto;
}

#this-paragraph {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 0px;

    text-align: justify;
    padding: 50px;
}


/*---------PROJECT CARDS---------*/

#projects-section h2{
    margin-top: 100px;
    padding: 0 50px;
}
#project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title{
    font-size: 1.05em;
    font-weight: bold;
    padding: 10px 0;
}


/*---------CODEPEN CARDS---------*/
#codepen-section h2{
    margin-top: 100px;
    padding: 0 50px;
}
#codepen-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-body{
    margin: 50px;
}
.card-img img{
    height: 240px;
    width: auto;
}
